@import "../../variables.scss";

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba($light-color, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Make sure it's on top of other elements */
}

img {
  @include grid-img;
}

.no-data {
  @include empty-placeholder;
}
