<div #favorites>
  <mat-grid-list [cols]="columns" (window:resize)="setColumns()" rowHeight="1:1" gutterSize="10px">
    @for (id of favoriteIds; track id) {
      <mat-grid-tile>
        <img
          [src]="apiUrl + 'id/' + id + '/' + photoWidth + '/' + photoHeight"
          [alt]="'Lorem Picsum Image Id:' + id"
          (click)="handleFavoriteClick(id)"
          matTooltip="Open"
          [matTooltipShowDelay]="400"
          />
      </mat-grid-tile>
    }
  </mat-grid-list>
</div>

@if (favoriteIds?.length === 0) {
  <mat-card class="no-data">
    <mat-card-content>
      <p>No favorite photos. Choose your favorite ones on the photos page!</p>
    </mat-card-content>
  </mat-card>
}
